{"filter":false,"title":".htaccess","tooltip":"/.htaccess","undoManager":{"mark":0,"position":0,"stack":[[{"group":"doc","deltas":[{"start":{"row":0,"column":0},"end":{"row":11,"column":11},"action":"insert","lines":["<IfModule mod_rewrite.c>","RewriteEngine On","RewriteCond %{REQUEST_FILENAME} !-d","RewriteCond %{REQUEST_FILENAME} !-s","RewriteRule ^(.*)$ api.php?rquest=$1 [QSA,NC,L]","","RewriteCond %{REQUEST_FILENAME} -d","RewriteRule ^(.*)$ api.php [QSA,NC,L]","","RewriteCond %{REQUEST_FILENAME} -s","RewriteRule ^(.*)$ api.php [QSA,NC,L] ","</IfModule>"]}]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":11,"column":11},"end":{"row":11,"column":11},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1425068896639,"hash":"24efa5893dcc8096b9b902db319cc2b5bdf87a1a"}